@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
  background: #1f1f1f;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: #d9f24f;
  border-radius: 5px;
}

body,
html {
  background: #1f1f1f;
  user-select: none;
}

/* theme ----- light || dark */

.app {
  transition: background-color 0.5s, color 0.5s;
}

.light {
  background-color: #f2e8de;
  color: #1f1f1f;
}

.dark {
  background-color: #1f1f1f;
  color: #f2e8de;
}

.myfont {
  font-family: "Tac One", "sans-serif";
}

.fivo {
  font-family: "Fivo Sans Modern", sans-serif;
}

.dash-hover {
  @apply hover:pl-2 duration-200;
}

@keyframes fadeIn {
  from {
    scale: 50%;
    opacity: 0;
  }
  to {
    scale: 100%;
    opacity: 1;
  }
}

.show {
  opacity: 0;
  animation: fadeIn 0.5s 2s forwards;
}

@keyframes rotateToNegative6deg {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-6deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}

.skew {
  animation: rotateToNegative6deg 0.2s 1.5s forwards;
}

@keyframes bgAnimateDark {
  from {
    background-color: transparent;
  }
  to {
    color: #1f1f1f;
    background-color: #c5dc4a;
  }
}

.bgAnimaDark {
  animation: bgAnimateDark 0.2s ease-out 1s forwards;
}

@keyframes bgAnimateLight {
  from {
    background-color: transparent;
  }
  to {
    color: #f2e8de;
    background-color: #dc143c;
  }
}

.bgAnimaLight {
  animation: bgAnimateLight 0.2s ease-out 1s forwards;
}

.spin {
  animation: spinElem 3s infinite linear;
}

@keyframes spinElem {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  draggable */

